body {
    font-family: 'Akzidenz Grotesk', Helvetica, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: black;
  }

.block-two {
    width: 80%;
    height: 70vh;
    display: flex;
    background-color: grey;
}

.ablock-two {
    width: 80%;
    height: 70vh;
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    background-color: white;
}

.div-intro {
    width: 45%;
    height: 80%;
    margin-left: auto;
    text-align: justify;
    padding-top: 60px;
    padding-right: 90px;
    padding-bottom: 30px;
}

.bintro {
    width: 45%;
    height: 80%;
    margin-right: auto;
    text-align: justify;
    padding-left: 90px;
    padding-top: 60px;
    padding-bottom: 30px;
    padding-right: 70px;
}

  a:link {
    color: black;
    text-decoration: none;
  }

  a:visited { /* cambia il colore del link una volta visitato */
    color: black;
  }

footer {
     font-size: 0.8em;
    padding: 20px 10px;
    text-align: center;
    background-color: black;
    color: white;
}